*
{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
body
{
	
	background-color: aqua;
}
h1
{
	margin :20px;
	background-color: rgba(0,0,0,0.5);
	color: rgba(255,240,0,1);
	text-transform: uppercase;
	text-align: center;
	margin: 10px 30%;
	border-radius: 10px;
	font-family: Garamond;
	font-weight: bold;
	text-decoration: underline;
}
.img_tab
{
	height: 150px;
	width: 150px;
}
.tab{
	display: inline-block;
	margin: 10px 10px;
	min-width: 15%;
	height: 70px;
	padding: 5px;
	text-align: center;
}
.flex-container
{
	display: flex;
	flex-direction: row;
	flex-basis: 50%;
	margin-top: 100px;

}
img
{
	text-align:  :center;
	max-width: 40%;
	max-height: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#box1,#box2,#box3,#box4,#box5
{
	flex: 2;
}
#box5
{
	flex:1 ;
}
