*
{
	box-sizing: border-box;
}

body
{
	font-family: 'Open Sans', sans-serif;
	background: url("Images/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	color:white;
	font-size: 30px;
}
nav
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}
nav a
{
	width:150px;
	display: block;
	text-align: center;
	text-decoration: none;
	color:white;
	transition: all 0.3s ease;
	background:rgba(0,0,0,0.1);
}
	
nav a:hover
{
	color:grey;
}
nav a:active
{
	color:#b8b8b8;
}

#row
{
	display:flex;
	flex-flow:column;
	align-items: center;
}
#row img
{
	height:30vw;
	width: 30vw;
	margin: 3vw;
}
#links
{
	flex-flow: column;
	align-items: center;
}

.material-icons
{
	font-size: 30px;
}
@media only screen and (min-width: 768px)
{
	#row
	{
		flex-flow:row;
		justify-content: center;
	}
	
}
@media only screen and (max-width: 480px)
{
	nav
	{
		flex-direction: column;
		align-items: flex-start;
		position: fixed;
		font-size: 4vw;
		line-height: 200%;
	}
	nav a
	{
		text-align: left;
		padding-left: 2vw;
	}
}