*
{
	box-sizing: border-box;
}

body
{
	font-family: 'Open Sans', sans-serif;
	background: url("Images/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	color:white;
}
nav
{
	width:100%;
	flex-flow: column;
	line-height: 200%;
	

}
nav a
{
	flex-grow: 1;
	display: block;
	text-align: center;
	text-decoration: none;
	color:white;
	transition: all 0.3s ease;
	background:rgba(0,0,0,0.1);
 }
nav a:hover
{
	color:grey;
}
nav a:active
{
	color:#b8b8b8;
}

#row
{
	display:flex;
	flex-flow:column;
	
	align-items: center;
}
#row img
{
	height:40vw;
	width: 40vw;
	margin: 3vw;
}
#links
{
	flex-flow: column;
	align-items: center;
}


@media only screen and (min-width: 768px)
{
	#row
	{
		flex-flow:row;
		justify-content: center;
	}

	nav
	{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}
}