body
{
	background-color: #000000;
	color: #E6E6FA;
}

#head
{
	border: none;
}
#head h1
{
	text-align: center;
	font-family: 'Bungee', cursive;
}

div
{
	background-color: ;
	padding: 70px;
	margin: 50px;
	overflow: auto;	
	border-style: ridge;
	border-radius: 10px;	
	border-width: medium;	
}

div h1
{
	font-family: 'Bungee', cursive;
}

div h2
{
	font-family: 'Roboto', sans-serif;
}

div p
{
	font-family: 'Raleway', sans-serif;
	overflow: auto;
	font-size: 20px;
}

#m5 img , #m3 img, #m1 img
{
	float: right;	
}

#m4 img, #m2 img
{
	float: left;
}

img
{
	width: 400px;
	height: 300px;
	padding-right: 20px;
	padding-left: 20px;
}

a
{
	color: #000000;
	background-color: #E6E6FA;
	padding: 0px 10px;
	border-radius: 5px;
	text-decoration: none;
	margin: 15px;
	text-align: center;
}

