*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	
}
body
{
	background-color: rgb(225,230,232);
}
h3
{
	padding :10px;
	margin :30px;
	font-family: Times New Roman;
	font-size:20px;

}
img
{
	width :100px;
	height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border :0.5px solid black;
}
.tab
{
	height: 30px; 
	width: 33.33%;
	margin: 30px 0px; 
	float: left;
	text-align: center;
	font-size: 15px;
	font-family: Times New Roman;
	padding: 3px;
	border-bottom: 2px solid rgb(140,153,169);
}
.card1 
{
	height: 300px; 
	width: 23%;
	float: left;
	text-align: center;
	font-size: 25px;
	font-family: Times New Roman;
	padding: 15px;
	margin :6px;
	background-color: white;
}
.card1:hover
{
	color: rgb(35,188,165);
	cursor: pointer;
}
.tab:hover
{
	color: rgb(35,188,165);
	cursor: pointer;
	border-color: rgb(35,188,165);
}	
@media only screen and (max-width: 450px)
{
	[class*="tab"]
	{
		width :100%;
		margin-top: 0px;
		margin-bottom: 10px;
	}
}
@media only screen and (max-width: 900px)
{
	[class*="card"]
	{
		width: 47%;
	}
}
@media only screen and (max-width: 458px)
{
	[class*="card"]
	{
		width: 97%;
	}
}