*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	
}
body
{
	background-color: rgb(240,240,240);
}
h2
{
	padding-top: 490px;
	font-size: 15px;
	font-family: "Arial";
	color: rgb(150,150,150);
	padding-left: 10px;

}
h3
{
	padding :10px;
	margin :30px;
	font-family: "Courier New";
	font-size:40px;
	color: rgb(100,100,100);
	margin-bottom: 0px;
}
h4
{
	
	text-align: left;
}
h5
{
	display: inline;
	text-align: right;
}
img
{
	width :100px;
	height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border :0.5px solid black;
}
li
{
	display: inline;
	font-size: 15px;
	font-family: "Arial";
	text-transform: uppercase;
	color: rgb(150,150,150);
	padding-left: 10px;
}
.top
{
	height: 34px;
	width: 100%;
	border: 1px solid rgb(240,240,240);;
	background: linear-gradient(to right,aqua,violet,red,yellow);
}
.save
{
	float: left;
	padding-bottom: 0px;
}
.more
{
	float: right;
}
li:hover
{
	color: rgb(35,188,165);
	cursor: pointer;
}
.tab,.gap,.icon,.extra,.extra1
{
	height: 30px; 
	width: 10%;
	margin-bottom: 30px; 
	float: left;
	text-align: center;
	font-size: 15px;
	font-family: Times New Roman;
	padding: 3px;
	border-bottom: 1px solid rgb(200,200,200);
}
.gap
{
	width: 51%;
}
.icon
{
	width :3%;
}
.tab-gp
{
	width: 70px;
	height: 25px;
	border: 1px solid rgb(225,230,232);

}
.icon-img
{
	max-width: 25px;
	max-height: 25px;
	border: 1px solid rgb(225,230,232);
}
.sidebar
{
	height: 1000px;
	width :17%;
	float: left;
	clear: left;

}
.extra,.extra1
{
	display: none;
}
.card1 
{
	height: 300px; 
	width: 18%;
	float: left;
	text-align: center;
	padding: 10px;
	margin :6px;
	background-color: white;
}
h5
{
	padding: 10px;
	font-size: 15px;
	font-family: "Arial";
}
h5:hover
{
	color: rgb(35,188,165);
	cursor: pointer;
}

.icon:hover,.extra1:hover
{
	cursor: pointer;
	border-color: rgb(35,188,165);
	background-color: rgb(35,188,165);
}
.tab:hover,.extra:hover
{
	color: rgb(35,188,165);
	cursor: pointer;
	border-color: rgb(35,188,165);
}	
@media only screen and (max-width: 450px)
{
	[class*="tab"]
	{
		width :100%;
		margin-top: 0px;
		margin-bottom: 10px;
	}
}
@media only screen and (max-width: 1250px)
{
	[class*="card"]
	{
		width: 23%;
	}
	[class*="gap"]
	{
		width:40%;
	}
	[class*="icon"]
	{
		width:4%;
	}
	[class*="tab"]
	{
		width:12%; 
	}
	[class*="icon-img"]
	{
		width: 20px;
	}
	[class*="tab-gp"]
	{
		width: 70px;
	}
}
@media only screen and (max-width: 900px)
{
	[class*="card"]
	{
		width: 31%;
	}
	[class*="gap"]
	{
		width:28%;
	}
	[class*="icon"]
	{
		width:4%;
	}
	[class*="tab"]
	{
		width:15%; 
	}
	[class*="icon-img"]
	{
		width: 20px;
	}
	[class*="sidebar"]
	{
		display: none;
	}
	[class*="tab-gp"]
	{
		width: 70px;
	}
}
@media only screen and (max-width: 600px)
{
	[class*="card"]
	{
		width: 46%;
	}
	[class*="gap"]
	{
		width:30%;
	}
	[class*="tab"]
	{
		display: none; 
	}
	[class*="extra"]
	{
		display:inline-block;
		width:30%;
	}
	[class*="extra1"]
	{
		display: inline-block;
		width: 10%;
	}
	[class*="icon"]
	{
		width: 10%;
	}
	[class*="icon-img"]
	{
		width: 20px;
	}
	h3
	{
		display: none;
	}
}
@media only screen and (max-width: 458px)
{
	[class*="card"]
	{
		width: 97%;
	}
}