ul{
	list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
}
li{
	float: left;
	border-right: 1px solid green;
}
li a{
	display: block;
	padding: 10px;
	background-color: #333;
}
li a:hover{
	background-color: black;
}
a:link{
	color: yellow;
	text-decoration: none;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.column img {
    margin-top: 12px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
* {
    box-sizing: border-box;
}