body
{background-color: lavender;
}
#text1
{position: absolute;
top : 50%;
left : 50%;
transform: translateX(-50%) translateY(-50%);
font-size: 40px; 
font-family: open sans;
font-weight: lighter;
}

