body
{
	font-family: 'Open Sans', sans-serif;
	background: url("Images/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	color:white;
}
nav
{
	width:100%;
	

}
nav a
{
	float: left;
	display: block;
	width:20%;
	text-align: center;
	text-decoration: none;
	color:white;
	transition: all 0.3s ease;
	background:rgba(112,128,144,.08);
	padding:0.7vw 0vw;
	margin-right: 2px white;
 }
nav a:hover
{
	color:grey;
}
nav a:active
{
	color:#b8b8b8;
}

#row
{
	display:flex;
	flex-flow:row;
	justify-content: center;
}
#row img
{
	height:25vw;
	width: 25vw;
	margin: 30px;
}
